<h1>Welcome to Thrivalist!</h1>

<p>Dear <%= @user.email %>,</p>
<p>We congratulate you on decreasing your chances of dying during conditions of crisis. You have joined the elite ranks of humans who stand a chance at colonizing new planets and contributing to the gene pool.</p>
<p>Godspeed,</p>
<p>Thrivalist Team</p>
