
  <% @bunker.features.each do |feature| %>
    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
      <div class="listing_item">
        <i class="fa <%= feature.fa_icon %> icon" aria-hidden="true"></i>
        <h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><%= feature.name %></font></font></h5>
        <p class="light sm"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><%= feature.description %></font></font></p>
      </div>
    </div>
  <% end %>
