    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6" id="feature">
      <div class="listing_item">
        <i class="fa fa-bed icon" aria-hidden="true"></i>
        <h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><strong>Private Room</strong></font></font></h5>
        <p class="light sm"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Have a private room to chill and relax just by yourself.</font></font></p>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6" id="feature">
      <div class="listing_item">
        <i class="fa fa-wifi icon" aria-hidden="true"></i>
        <h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><strong>Internet</strong></font></font></h5>
        <p class="light sm"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Be ready to meet people while staying in a shared dorm.</font></font></p>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6" id="feature">
      <div class="listing_item">
        <i class="fa fa-tint icon" aria-hidden="true"></i>
        <h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><strong>Fresh Water Supply</strong></font></font></h5>
        <p class="light sm"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Have a private room to chill and relax just by yourself.</font></font></p>
      </div>
    </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6" id="feature">
      <div class="listing_item">
        <i class="fa fa-bed icon" aria-hidden="true"></i>
        <h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><strong>Backup Generator</strong></font></font></h5>
        <p class="light sm"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Be ready to meet people while staying in a shared dorm.</font></font></p>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6" id="feature">
      <div class="listing_item">
        <i class="fa fa-cutlery icon" aria-hidden="true"></i>
        <h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><strong>Robot Chef</strong></font></font></h5>
        <p class="light sm"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Have a private room to chill and relax just by yourself.</font></font></p>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6" id="feature">
      <div class="listing_item">
        <i class="fa fa-thermometer-three-quarters icon" aria-hidden="true"></i>
        <h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><strong>Heating</strong></font></font></h5>
        <p class="light sm"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Be ready to meet people while staying in a shared dorm.</font></font></p>
      </div>
    </div>
</div>
