<div id="reviews">
          <h4>Reviews</h4>
  <% if @bunker.reviews.empty? %>
    Be the first to leave a review for <%= @bunker.name %>
  <% else %>
    <% @bunker.reviews.each do |review| %>
      <%= render 'reviews/show', review: review %>
    <% end %>
  <% end %>
</div>
